.new-admin-login-main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  border-radius: 22px;
  margin: 20px;
}

.back-btn {
  font-weight: 600 !important;
  background-color: #03045e !important;
  border: none !important;
  color: white !important;
  font-size: 18px !important;
  padding: 6px 22px !important;
  border-radius: 0 11px !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
}

.back-btn:hover {
  background-color: #fca311 !important;
  transform: translateX(-6px);
}