.notices-main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
  border-radius: 22px;
  margin: 20px;
  border: 1px solid #03045e;
}

.notices-content-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.notices-content-card h4 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #03045e;
}

.notices-text-muted {
  color: #555;
  font-size: 14px;
}