.product-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /* transition: transform 0.2s ease; */
}

/* .product-card:hover {
  transform: translateY(-3px);
} */

.product-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #111;
  min-height: 30px;
  overflow: hidden;
}

.card-img-top {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card-img-top.loaded {
  opacity: 1;
}

.rating-line {
  font-size: 0.9rem;
  color: #fdd017;
  display: flex;
  align-items: center;
  gap: 4px;
}

.price-line {
  font-size: 0.9rem;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.actual-price {
  color: #000;
  font-weight: 700;
}

.mrp {
  text-decoration: line-through;
  color: #888;
  font-size: 0.6rem;
}

.discount {
  color: green;
  font-size: 0.65rem;
  font-weight: 600;
}

.shipping-info {
  color: #777;
  font-size: 0.7rem;
}

.add-btn {
  background-color: #ffd814 !important;
  color: #000 !important;
  border: none !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.remove-btn {
  background-color: pink !important;
  color: #000 !important;
  border: none !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.full-width {
  width: 100%;
  border-radius: 6px;
}