.home-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f0f4ff 0%, #fff5f9 40%, #f0f4ff 65%, #e8ffea 95%);
  font-family: 'Segoe UI', sans-serif;
}

.home-top-part {
  background-color: #f0f4ff;
  width: 100%;
  height: 73vh;
  margin-bottom: 0;
}

.home-image {
  position: absolute;
  right: 60px;
  /* height: 400px; */
  height: 444px;
  /* width: 400px; */
  width: 444px;
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.9s ease-in-out;
  /* transform: translateY(60px);
  transition: opacity 0.9s ease-out, transform 0.9s ease-out; */
}

.home-image.animate {
  opacity: 1;
  transform: scale(1);
  /* transform: translateY(0); */
}
  

.home-ball {
  position: absolute;
  top: 11%;
  left: 0;
  width: 100px;
  height: auto;
  animation: float 3s ease-in-out infinite;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.2));
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.home-hero {
  text-align: center;
  position: relative;
  z-index: 2;
  width: 60%;
  padding: 80px 20px 50px;
  margin-left: 60px;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.9s ease-in-out;
}

.home-hero.animate {
  opacity: 1;
  transform: scale(1);
}

.home-hero h1 {
  font-size: 45px;
  color: #fca311;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-hero h2 {
  font-size: 65px;
  color: #03045e;
  margin: 0;
  font-weight: 800;
  font-family: 'Cinzel', serif;
}

.home-hero p {
  margin-top: 15px;
  color: #333;
  font-size: 18px;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-buttons a {
  background: #03045e;
  color: #fff;
  padding: 9px 12px;
  border-radius: 0 15px;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.6s ease, background 0.3s;
}

.hero-buttons a:hover {
  background: #fca311;
  transform: translateY(-6px);
}

.home-departments {
  height: 500px;
  text-align: center;
  padding: 30px;
}

.home-departments h3 {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 60px;
  color: #03045e;
  font-family: 'Cinzel', serif;
}

.home-dept-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.dept-card-wrapper {
  animation: float 3s ease-in-out infinite;
}

.dept-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0 22px;
  text-decoration: none;
  padding: 20px 15px;
  width: 222px;
  height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease, box-shadow 0.4s ease;
}

.dept-card-wrapper:hover .dept-card {
  transform: translateY(-12px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.dept-card span {
  font-weight: 600;
  color: #03045e;
  font-size: 1.5rem;
  margin-top: 10px;
}

.full-form {
  font-weight: 600;
  color: black;
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
}

.dept-card-image-wrapper {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  margin-bottom: 10px;
}

.dept-card-image-inner {
  width: 100%;
  height: 100%;
}

.dept-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  backface-visibility: hidden;
}