
/* Sidebar */
.admin-sidebar {
  width: 220px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid #03045e;
  color: #03045e;
  margin: 20px;
  padding: 25px 20px;
  border-radius: 0 22px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}

.admin-sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

.admin-sidebar-header h5 {
  font-size: 20px;
  margin: 0;
  color: #03045e;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Menu */
.admin-sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.admin-sidebar-menu li {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 12px 14px;
  margin-bottom: 9px;
  cursor: pointer;
  border-radius: 0 18px;
  font-size: 1rem;
  font-weight: 500;
  color: #03045e;
  transition: all 0.25s ease;
  background: transparent;
  box-shadow: 2px 2px 8px rgba(3, 4, 94, 0.05);
}

.admin-sidebar-menu li:hover {
  background: #03045e;
  color: white;
  transform: translateX(4px);
  box-shadow: 0 4px 15px rgba(3, 4, 94, 0.2);
}

.admin-sidebar-menu li:active {
  transform: scale(0.97);
}

.admin-sidebar-menu li.active {
  background: #03045e;
  color: #ffffff;
  font-weight: 600;
  transform: translateX(4px);
  box-shadow: 0 4px 15px rgba(3, 4, 94, 0.25);
}

.admin-sidebar-menu span {
  white-space: nowrap;
}