.admin-dashboard {
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, #f0f4ff 0%, #fff5f9 40%, #f0f4ff 65%, #e8ffea 95%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.admin-main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
  border-radius: 22px;
  margin: 20px;
  border: 1px solid #03045e;
}

.admin-content-card {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.admin-content-card h4 {
  font-size: 24px;
  margin-bottom: 12px;
  color: #03045e;
}

.admin-text-muted {
  color: #555;
  font-size: 14px;
}



.welcome-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInOverlay 0.4s ease;
}

.welcome-popup {
  background-color: white;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 35px 30px;
  border-radius: 0 22px;
  max-width: 450px;
  width: 90%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  text-align: center;
  color: #03045e;
  border: 1px solid rgba(255, 255, 255, 0.25);
  animation: fadeInPopup 0.4s ease;
}

.welcome-popup h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: bold;
}

.welcome-popup p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 25px;
  line-height: 1.6;
}

.thanks-btn {
  background-color: #03045e;
  color: white;
  padding: 9px 22px;
  border: none;
  border-radius: 0 18px;
  font-weight: 600;
  transition: transform 0.6s ease, background 0.3s;
}

.thanks-btn:hover {
  background: #fca311;
  transform: translateY(-6px);
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInPopup {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .admin-dashboard {
    flex-direction: column;
  }

  .admin-main-content {
    margin-left: 0;
    padding: 20px 15px;
  }

  .admin-content-card {
    padding: 30px 20px;
  }
}