.admin-profile-main-content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin-left 0.3s ease;
    border-radius: 22px;
    margin: 20px;
}


.admin-profile-card {
    display: flex;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    border-radius: 0 22px;
    padding: 30px;
}

.admin-profile-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.admin-profile-name {
    font-size: 22px;
    font-weight: 700;
    color: #03045e;
}

.admin-profile-email {
    font-size: 16px;
    color: #444;
}

.admin-profile-img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #03045e;
}

.admin-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.admin-profile-btn-group {
    display: flex;
    gap: 12px;
    margin-top: 31px;
}

.change-password-btn {
    padding: 8px 20px;
    background-color: #03045e;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 0 9px;
    cursor: pointer;
    transition: 0.3s ease;
    width: fit-content;
}

.change-password-btn:hover {
    background-color: #fca311;
}

.edit-profile-btn {
    padding: 8px 20px;
    background-color: transparent;
    color: #03045e;
    font-weight: 600;
    border: 2px solid #03045e;
    border-radius: 0 9px;
    cursor: pointer;
    transition: 0.3s ease;
}

.edit-profile-btn:hover {
    background-color: #03045e;
    color: white;
}