.student-profile-main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
  border-radius: 22px;
  margin: 20px;
}

.student-profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 0 22px;
  padding: 30px 40px;
  width: 100%;
  max-width: 900px;
}

.student-profile-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.student-profile-name {
  font-size: 22px;
  font-weight: 700;
  color: #03045e;
}

.student-profile-email {
  font-size: 16px;
  color: #444;
  margin-bottom: 8px;
}

.student-detail-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 10px;
}

.student-detail-group p {
  font-size: 15px;
  color: #222;
  font-weight: 500;
  margin: 2px 0;
  line-height: 1.4;
}

.student-profile-btn-group {
  display: flex;
  gap: 12px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.student-edit-profile-btn {
  padding: 8px 20px;
  background-color: transparent;
  color: #03045e;
  font-weight: 600;
  border: 2px solid #03045e;
  border-radius: 0 9px;
  cursor: pointer;
  transition: 0.3s ease;
}

.student-edit-profile-btn:hover {
  background-color: #03045e;
  color: white;
}

.student-change-password-btn {
  padding: 8px 20px;
  background-color: #03045e;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 0 9px;
  cursor: pointer;
  transition: 0.3s ease;
  width: fit-content;
}

.student-change-password-btn:hover {
  background-color: #fca311;
  color: #fff;
}

.student-profile-right {
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.student-profile-img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #03045e;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.student-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
